* {
    /*Reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ba4949;
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
}

@media all{   /*Telas menores que 768px*/
    body, .timer-container{
        transition: background-color 1.5s ease;
    }

    body.paused {
        background-color: #555;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    main h1 {
        font-size: 3rem;
    }

    .logo {
        width: 20rem; /*Logo diminui em telas menores*/
        margin: 2rem 0;
    }

    .time-label {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .timer-container {
        padding: 2rem;
        background-color: #c15b5c;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 90vw;  /*90% do tamanho da tela*/
        margin: auto;
        margin-bottom: 2rem;
    }

    .timer-display {
        display: flex;
        justify-content: center;
    }

    .timer-container.work {
        background-color: #c15b5c;
    }

    .timer-container.short-break {
        background-color: #4d9196;
    }

    .timer-container.long-break {
        background-color: #4d7fa2;
    }

    .timer-container.water-time {
        background-color: blue;
    }

    .timer-container.paused-box {
        background-color: #777;
    }

    .timer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .font-span{
        font-size: 48px;  /*Tamanho de um elemento h1*/
        font-weight: bold;
    }

    button{
        /*O que é comum aos botões*/
        padding: 0.5rem 1rem;
        color: #000000;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

    .time-label button {
        background-color: #ffffff;
        font-size: 1rem;
        margin: 1rem 0 2rem 0;
    }

    button:hover {
        opacity: 0.8;
    }

    button#work:focus{ /*Ao ser clicado (foco)*/
        background-color: #a44d4e;
        font-weight: bold;
        transition: background-color 1.5s ease; /*Para acompanhar transição da cor da tela*/
    }

    button#short-break:focus{
        background-color: #417b80;
        font-weight: bold;
        transition: background-color 1.5s ease; /*Para acompanhar transição da tela*/
    }

    button#long-break:focus{
        background-color: #416c8a;
        font-weight: bold;
        transition: background-color 1.5s ease; /*Para acompanhar transição da tela*/
    }

    .buttons button {
        margin: 2rem 0;
        font-size: 1.2rem;
        background-color: #ffffff;
    }   

    .hidden {
        display: none; /*Inicialmente oculto*/
    }

    #cycle {
        margin-bottom: 1rem;
        font-size: max(1.2rem, 2.5vw); /*Responsivo*/
    }

    #exercise-container {
        transition: background-color 1.5s ease;
        padding: 2rem;
        background-color: #2a6c70;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 90vw;
        margin-bottom: 2rem;
    }

    #exercise-container span {
        font-size: max(2rem, 4vw); /*Responsivo*/
    }

    #exercise-container p {
        margin-top: 1rem;
    }

    #exercise-container h2 {
        margin-bottom: 1rem;
    }

    #exercise-name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #exercise-description {
        font-size: 1rem;
        margin: 1rem 0;
    }
}

@media screen and (min-width:768px) { /*Telas médias*/
    .logo {
        width: 30rem;  /*Aumentando o logo*/
        margin: 2rem 0;
    }

    .font-span{
        font-size: max(48px, 8vw); /*Não fica menor que um elemento h1*/
    }

    .timer-container {
        width: 60vw;   /*Em telas médias, 60% da tela*/
    }

    .time {
        font-size: 5rem;
        font-weight: bold;
    }

    #exercise-container {
        width: 60vw;  /*Mesmo tamanho de .timer-container*/
    }
}

@media screen and (min-width:992px) { /*Telas grandes*/
    .logo {
        width: 30rem;  /*Aumentando o logo*/
        margin: 2rem 0;
    }

    .font-span{
        font-size: min(120px, 8vw);  /*Não passa de 120px*/
    }

    .timer-container {
        width: 50vw;   /*Em telas grandes, 50% da tela para não ficar exageradamente grande*/
    }

    .time {
        font-size: 6rem;
        font-weight: bold;
    }

    #exercise-container {
        width: 50vw;  /*Mesmo tamanho de .timer-container*/
    }
}